@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@ViewBag.Info</p>
    <p>@ViewBag.Pocz</p>
    <p>@ViewBag.Konc</p>
    <p>@ViewBag.Liczba</p>
    <h1 class="display-4">Witamy w aplikacji GOT</h1>
    <p>Informacje o <a href="http://www.msw-pttk.org.pl/odznaki/reg_odznak/reg_got.html">GOT PTTK</a>.</p>
</div>
